{{ define "main" }}
<div class="game-play-wrapper">
    <a href="{{ site.Home.Permalink }}" class="back-link">← Back to Games</a>
    
    <!-- Title removed by request: game names are hidden -->

    <div class="iframe-container">
        <iframe src="{{ .Params.embed_url | safeURL }}" 
                width="100%" height="600px" 
                frameborder="0" scrolling="no" allowfullscreen>
        </iframe>
    </div>

    <div class="game-desc">
        <h3>Instructions:</h3>
        <div class="content-text">
            {{ .Content }}
        </div>
    </div>
</div>
{{ end }}